.checkout-area .area-item:not(:last-child){
    margin-bottom: 3rem;
}

.checkout-area  .area-item  .area-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    
}
.checkout-area  .area-item .area-title{
    font-weight: bold;
    font-size: var(--title-4);
    margin-bottom: 0;;
}


.payment-wrapper {
    padding-top: .5rem;
}
.payment-wrapper .form-check:not(:last-child){
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.payment-wrapper .form-check .form-check-input{
    
    border:1px solid #ccc;
    transition: all .3s ease;
    box-shadow: none;
}
.payment-wrapper .form-check{
    font-size: 18px;
}


