
/********** general **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root
{
    --main-color:#0aad0a;
    --main-color-hvr:#088508;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family: "Rubik", sans-serif;
    --rating-color:#ffc908;


    --title-0: 45px;
    --title-1: 40px;
    --title-1-sm: 36px;
    --title-2: 32px;
    --title-3: 28px;
    --title-4: 24px;
    --title-5: 22px;
    --title-6: 20px;
    --title-7: 18px;
    --title-8: 18px;
    --title-16-14: 16px;
    --title-14-12: 14px;
    --border-r-1: 25px;
    --border-r-2: 15px;
    --border-r-3: 10px;
    --border-r-4: 8px;
    --section-padding: 3rem;
    --section-space: 6rem;
    --box-py-xsm: 1.5rem;
    --box-py-sm: 1.5rem;
    --box-py: 2rem;
    --box-py-res: 2rem;
    --box-px-xs: 1rem;
    --box-px-xsm: 1.5rem;
    --box-px-sm: 1.5rem;
    --box-px: 2rem;
    --box-px-more: 3rem;

}

*{
  box-sizing: border-box;
}

body{
    font-family: var(--font-family) !important;
    position: relative;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    touch-action: manipulation;
    background-color: #fff;
    color: #000;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}

.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.bg-main:active{
  background-color: var(--main-color-hvr) !important;
}
@media (hover: hover) and (pointer:fine){
  .bg-main:hover{
    background-color: var(--main-color-hvr) !important;
  }
}

.input-focus:focus {
  border-color: #66afe9 !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
}


.section-style {
  position: relative;
  padding: var(--section-padding) 0
}

.section-style:not(.sticky-inside) {
  overflow: hidden
}

.w-bg{
  padding: var(--section-space) 0;
}
.w-mr{
  margin: var(--section-padding) 0;
}

@media (max-width: 991.98px) {
  :root {
      --box-px-xsm:1rem;
      --section-padding: 2rem;
      --section-space: 4rem
  }
}

@media (max-width: 767.98px) {
  :root {
      --box-px-xsm:1rem
  }
}

@media (max-width: 575.98px) {
  :root {
      --title-0:36px;
      --title-1: 32px;
      --title-1-sm: 32px;
      --title-2: 28px;
      --title-3: 24px;
      --title-4: 22px;
      --title-5: 20px;
      --title-6: 18px;
      --title-7: 16px;
      --title-16-14: 14px;
      --title-14-12: 12px;
      --border-r-1: 15px;
      --border-r-2: 10px;
      --border-r-3: 8px;
      --border-r-4: 6px;
      --section-padding: 1.5rem;
      --section-space: 3rem;
      --box-py-res: 1.5rem;
      --box-py-xsm: 1rem;
      --box-px-xs: 0.75rem;
      --box-px-xsm: 0.75rem;
      --box-px: 1rem;
      --box-px-sm: 1rem;
      --box-px-more: 1rem
  }
}


/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon, .hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Icon Bounce */
.hvr-icon-bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-bounce .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-bounce:hover .hvr-icon, .hvr-icon-bounce:focus .hvr-icon, .hvr-icon-bounce:active .hvr-icon {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/********** custom-grid **********/

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch
}

footer {
  margin-top: auto
}

.gx-75 {
  --bs-gutter-x: 0.75rem
}

.container {
  --max-w: "none";
  --container-px: 0.75rem;
  max-width: var(--max-w)!important;
  padding-right: var(--container-px)!important;
  padding-left: var(--container-px)!important
}

@media (min-width: 576px) {
  .container {
      --container-px:1rem
  }
}

@media (min-width: 768px) {
  .container {
      --container-px:1.5rem
  }
}

@media (min-width: 992px) {
  .container {
      --container-px:2rem
  }
}

@media (min-width: 1200px) {
  .container {
      --container-px:2.5rem
  }
}

@media (min-width: 1400px) {
  .container {
      --max-w:calc(1500px);
      --container-px: 2rem
  }
}

@media (max-width: 991.98px) {
  .gx-lg-75 {
      --bs-gutter-x:0.75rem
  }
}

@media (max-width: 767.98px) {
  .gx-md-75 {
      --bs-gutter-x:0.75rem
  }
}

@media (max-width: 575.98px) {
  .gx-sm-75 {
      --bs-gutter-x:0.75rem
  }
}


/********** styles **********/
.active>.page-link, .page-link.active{
  pointer-events: none;
}


.loading-overlay{
    
  position: relative;
  overflow: hidden;
  pointer-events: none;
  
 
}


.loading-overlay::before{
    
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--loading-clr , inherit);
  opacity: 1 ;
  z-index: 100;
 
}
.loading-overlay::after{
        
  content: "";
    position: absolute;
    border: 2px solid transparent;
    border-radius: 100%;
    border-top: 2px solid #fff !important;
    border-right: 2px solid transparent !important;
    border-bottom: 2px solid #fff !important;
    border-left: 2px solid transparent !important;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -9.5px;
    animation: button-loading-spinner 1s ease infinite;
    z-index: 100;
  
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.offline{
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  background-color:rgba(0,0,0,.8);
  border-radius: 20px;
  padding: 10px 50px;
}

.loading-img{
  transition: all .3s ease;
}

.loading-img[loading=true]{
  opacity: 0;
}


.skeleton{
  pointer-events: none;
}

.skeleton-bar{
  animation: skeleton-loading 1s linear infinite alternate;
  min-height: 20px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.img-feedback{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  text-align: center;
  font-size: 40px;
}

.slider-container{
  position: relative;
}

.main-title{
  margin-bottom: var(--section-padding);
  font-weight: bold;
  font-size: var(--title-2);
  text-align: center;
  text-transform: capitalize;
}


.slider-container .arrow{
  position: absolute;
  width: 80px;
  height: 100%;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  transition: all .3s ease;
  line-height: 0;
  border: none;
  outline: none;
  border-radius: 0;
  color: transparent;
  cursor: pointer;
  padding: 0;

  
}

.slider-container .arrow.arrow-left{
  background: linear-gradient(270deg,#fff 10%,rgba(255,255,255,0) 100%);
  right: 0;
  justify-content: end;
}
.slider-container .arrow.arrow-right{
  background: linear-gradient(-270deg,#fff 10%,rgba(255,255,255,0) 100%);
  left: 0;
  justify-content: start;
}


.slider-container .arrow.arrow.swiper-button-disabled{
  opacity: 0;
  z-index: -1;
}

.slider-container .arrow .arrow-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: inherit;
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid #e3e5e8;
  outline: none;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  font-size: 20px;
  width: 50px;
  height: 50px;
  
}
.slider-container .arrow .arrow-icon:hover{
  background-color: #eee;
  
}

@media(max-width:991.98px){
  .slider-container .arrow .arrow-icon{
    width: 45px;
    height: 45px;
  }
}

@media(max-width:575.98px){
  .slider-container:not(.arrow-sm) .arrow{
    display: none;
  }
  .slider-container .arrow .arrow-icon{
    width: 40px;
    height: 40px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.qty-wrap{
    display: flex;
    align-items: center;
}
.qty-wrap .qty-num {
    width: auto;
    text-align: center;
    font-weight: 600;
    color: #000;
    width: 60px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
}

.qty-wrap .qty-btn{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.spinner-loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.loading-box .loading-text{
  margin-bottom: 0;
  font-weight: bold;
  font-size: var(--title-6);
  text-transform: capitalize;
}


/****************/
.page-loading{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  content: '';
  background-color: rgba(255,255,255,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  color: var(--main-color);
}
.page-loading i{
  font-size: 60px !important;
}
.accordion-button:not(.collapsed)::after{
  display: none;
}


/*** sign-section ***/

@media(max-width:991.98px){
  .sign-section{
    margin-top: var(--section-padding);
  }
}